<ul class="nav-bar">
  <li class="active has-flyout">
    <a href="#">Home</a>
    <a href="#" class="flyout-toggle">
      <span></span>
    </a>
    <ul class="flyout">
      <li><a href="#">Entree</a></li>
      <li><a href="#">Terras</a></li>
      <li><a href="#">Mijn leestafel</a></li>
      <li><a href="#">Evenementen</a></li>
      <li><a href="#">Administratie</a></li>
    </ul>
  </li>
  <li class="has-flyout">
    <a href="#">Kronkels</a>
    <a href="#" class="flyout-toggle">
      <span> </span>
    </a>
    <ul class="flyout">
      <li><a href="#">Mijn kronkels</a></li>
      <li><a href="#">Blader door kronkels</a></li>
      <li><a href="#">Op een kaart</a></li>
      <li><a href="#">Creëer kronkel</a></li>
    </ul>
  </li>
  <li class="has-flyout">
    <a href="#">Mensen</a>
    <a href="#" class="flyout-toggle">
      <span> </span>
    </a>
    <ul class="flyout">
      <li><a href="#">Mijn profiel</a></li>
      <li><a href="#">Wie is wie?</a></li>
      <li><a href="#">Vind kenners</a></li>
    </ul>
  </li>
  <li class="has-flyout">
    <a href="#">Kringen</a>
    <a href="#" class="flyout-toggle">
      <span> </span>
    </a>
    <ul class="flyout">
      <li>
        <select>
          <option>Kies een kring...</option>
          <option>P-blad (besloten)</option>
          <option>product (besloten)</option>
          <option>Winkwaves-intern (besloten)</option>
          <option>&nbsp;</option>
          <option>bizzystream (besloten)</option>
          <option>buren van winkwaves (besloten)</option>
          <option>Conclusion CoWorks (besloten)</option>
          <option>dga4dga (besloten)</option>
        </select>
      </li>
      <li><a href="#">Blader door kringen</a></li>
      <li><a href="#">Creëer kring</a></li>
    </ul>
  </li>
</ul>